{% extends 'pages/page.html' %}
{% load mezzanine_tags block_tags %}

{% block meta_title %}{%if scientist %}Science {%endif%}Staff List{% endblock %}

{% block title_head %}Staff list{% endblock %}

{% block title %}
{% if scientist or postdoc %}
{% if postdoc %}
Post-docs
{% else %}
Scientists
{% endif %}
{% else %}
All Staff
{% endif %}
{% endblock %}

{% block main_span_size %}col-md-12{% endblock %}

{% block main %}

<div class="row">
  <a href="{% url 'people' %}" class="btn btn-default">All Staff</a>
  <a href="{% url 'scientists' %}" class="btn btn-default">Scientists</a>
  <a href="{% url 'postdocs' %}" class="btn btn-default">Post-docs</a>
  <a href="{% url 'oldpeople' %}" class="btn btn-default">Past Staff</a>
</div>

<div class="row">
{% for person in people %}
<a href="{% url 'userprofile' person.user.username %}" title="View {{person.user.first_name}}&#039;s profile.">
<div class="col-md-3 col-sm-6 text-center" style="height:300px;">
    <img typeof="foaf:Image" src="{{ MEDIA_URL }}{% thumbnail person.mugshot 180 180 %}" alt="{{person.user.first_name}}&#039;s picture" title="{{person.user.first_name}}&#039;s picture" class="img-circle img-responsive center-block" />
  <h3>{{person.user.first_name}} {{person.user.last_name}}</h3>
  <p><small>{{person.job_title}}</small></p>
</div>
</a>
{% endfor %}
</div>

<div class="row">
{% if past and postdoc %}
<h3>Past Post-Docs</h3>
{% for person in past %}
<a href="{% url 'userprofile' person.user.username %}" title="View {{person.user.first_name}}&#039;s profile.">
<div class="col-md-3 col-sm-6 text-center" style="height:300px;">
    <img typeof="foaf:Image" src="{{ MEDIA_URL }}{% thumbnail person.mugshot 180 180 %}" alt="{{person.user.first_name}}&#039;s picture" title="{{person.user.first_name}}&#039;s picture" class="img-circle img-responsive center-block" />
  <h3>{{person.user.first_name}} {{person.user.last_name}}</h3>
  <p><small>{{person.institute}}</small></p>
</div>
</a>
{% endfor %}
</div>
{% endif %}

{% endblock %}

{% block right_panel %}
{% endblock %}
