{% extends 'base.html' %}
{% load mezzanine_tags block_tags %}

{% block header-class %}blue{% endblock%}

{% block meta_title %}Seminar List{% endblock %}

{% block title_head %}Seminar List {% endblock %}

{% block title %}
Seminar series
{% endblock %}

{% block main_span_size %}col-md-8 leftCol{% endblock %}

{% block main %}

<ul class="newslist">
{% for seminar in seminars %}
    <li>
      <h3 class="list-item-title"><a href="{{seminar.get_absolute_url}}">{{ seminar.title }}</a></h3>
      <div>{{seminar.speaker_name}} - {{seminar.seminardate|date:"d M Y"}}
        {% if blog_post.status == 1 %}
        <span class="bg-warning">Draft</span>
        {% endif %}
      </div>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if seminars.has_previous %}
            <a href="?page={{ seminars.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ seminars.number }} of {{ seminars.paginator.num_pages }}.
        </span>

        {% if seminars.has_next %}
            <a href="?page={{ seminars.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block right_panel %}
<div class="col-md-4 linkBar">
<a href="{% url 'seminar_home' %}">Seminar Home</a>
<h3>View Seminars by Year</h3>
<ul>
{% for year in years reversed %}
<li><a href="{% url 'seminars_year' year %}">{{year}}</a></li>
{% endfor%}
<li><a href="{% url 'seminars' %}">All</a></li>
</ul>
{% richflatblock "science.side.block" %}
</div>
{%endblock%}
