{% extends "base.html" %}
{% load mezzanine_tags blog_tags block_tags %}

{% block header-class %}blue{% endblock%}

{% block title_head %}Seminar Series{% endblock %}

{% block title %}
Seminar Series
{% endblock %}

{% block main_span_size %}col-md-8 leftCol{% endblock %}

{% block main %}
        <div id="seminar-home">
          <h3 class="field-content">{{nearest_seminar.speaker_name}}</h3>
          <h2 class="field-content"><a href="{{nearest_seminar.get_absolute_url}}">{{nearest_seminar.title}}</a></h2>
          <h3><span content="2015-02-19T15:30:00+00:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">{{nearest_seminar.seminardate|date:"d M Y"}}</span></h3>
        </ul>
        </div>
        <p>{% richflatblock 'seminar.block' %}</p>
{% endblock %}

{% block right_panel %}
<div class="col-md-4 linkBar">
        <h2>Future speakers</h2>
      	<ul class="newslist">
      		{% for seminar in seminars %}
      		<li><span class="seminar-date">{{seminar.seminardate|date:"d M Y"}}</span><span class="seminar-title"><a href="{{seminar.get_absolute_url}}">{{seminar.speaker_name}}</a></span></li>
      		{% empty %}
      		<li>There are no seminars planned in the future.</li>
      		{% endfor %}
      	</ul>
            <div class="back-button">
            <a href="{% url 'seminars' %}">Full list of seminars &rarr;</a>
            </div>
</div>
{%endblock%}
