{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags block_tags lcogt_extras pages_tags staticfiles %}

{% block header-class %}red{% endblock%}

{% block main_span_size %}col-md-12{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{%endblock%}


{% block main %}{{block.super}}

{% editable page.spacepage.content %}
{{ page.spacepage.content|richtext_filters|safe }}
{% endeditable %}

<h2>Chapters</h2>
<div class="row">
  {% for chapter in chapters %}
  <div class="col-md-3">
    <div class="chapter-sb thumbnail spacechapter-box">
      <a href="{{ chapter.get_absolute_url }}">
        <div class="chapter-title">{{forloop.counter}}. {{ chapter.title }}</div>
      </a>
      <div class="chapter-desc">{{ chapter.description|truncatechars_html:80 }}</div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:"4" %}
  <div class="clearfix visible-md-block visible-lg-block"></div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block right_panel %}{% endblock %}
