{% extends 'base.html' %}
{% load mezzanine_tags blog_tags %}

{% block title_head %}{{profile.user.first_name}} {{profile.user.last_name}}{% endblock %}

{% block body-class %}home {%endblock%}

{% block title %}{{profile.user.first_name}} {{profile.user.last_name}}{% endblock %}

{% block main_span_size %}col-md-8{% endblock %}

{% block main %}{{ block.super }}

{% if request.user == profile.user %}
<h3><a href="{% url 'profileupdate' %}">Edit your profile</a></h3>
{% endif %}

<h2>
{% editable profile.job_title %}
{{ profile.job_title|safe }}
{% endeditable %}
</h2>

{% editable profile.bio %}
{{ profile.bio|richtext_filters|safe }}
{% endeditable %}

{% if papers %}
<h1>Publications</h1>
<ul class="list-papers">
{% for paper in papers %}
	<li>
		<div class="paper-title">{{paper.title}}</div>
		{% if paper.citation %}<div class="paper-citation">{{paper.citation}}</div>{% endif %}
		<div class="paperlinks">
			{% if paper.arxiv_code %}<span class=""><a href="http://arxiv.org/abs/{{paper.arxiv_code}}">ArXiv PDF</a></span>,{% endif %}
			{% if paper.link %}<span class=""><a href="{{paper.link}}">Published version</a></span>{% endif %}
		</div>
	</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block right_panel %}
{{ block.super }}

	<div class="user-picture">
	<img src="{{ MEDIA_URL }}{% thumbnail profile.mugshot 400 0 %}" alt="{{profile.user.first_name}}&#039;s picture" class="img-responsive img-rounded"/>
	</div>

	<div class="extra-profile-info">
	{% if not profile.current %}<div class="yellow-highlight">{{profile.user.first_name}} no longer works at LCOGT.</div>{%endif%}
	{% if profile.research_interests %}<div class="title">My research interests are: </div> {{profile.research_interests}}{% endif %}
	{% if profile.current %}<div class="contact"><strong>Contact:</strong> {{profile.user.email}}</div>{%endif%}
	</div>
	<div class="back-button">
		<h3><i class="fa fa-users"></i> <a href="{% url 'people' %}">Back to staff list</a></h3>
	</div>
{%endblock%}
