{% extends "pages/lcopage.html" %}

{% load mezzanine_tags block_tags static %}

{% block main_span_size %}col-md-12{% endblock %}

{% block header_script %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//visibility.lco.global/static/js/visibility.v2.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  var visibility_calc = new Visibility();
  visibility_calc.defaults = {
                  url       : 'https://visibility.lco.global/visibility.png',
                  width     : 944,
                  height    : 400,
                  airmass   : 2,
        }
  $('#date-submit').on("click", function(event) {
        var data = {
            season    : false,
            ra        : jQuery('#commonVisibility').find('#ra').val(),
            dec       : jQuery('#commonVisibility').find('#dec').val(),
            airmass   : jQuery('#commonVisibility').find('#airmass').val(),
            date      : jQuery('#date').val(),
            plotid    : "#plot"

        };
        visibility_calc.process(options=data);
    });

    jQuery('#range-submit').on("click",function(event) {
        var data = {
            season    : true,
            ra        : jQuery('#commonVisibility').find('#ra').val(),
            dec       : jQuery('#commonVisibility').find('#dec').val(),
            airmass   : jQuery('#commonVisibility').find('#airmass').val(),
            startDate : jQuery('#startDate').val(),
            endDate   : jQuery('#endDate').val(),
            plotid    : "#seasonPlot"
        };
        visibility_calc.process(options=data);

    });

    $('#date').datepicker({dateFormat: 'yy-mm-dd'});

    jQuery('input#startDate').datepicker({
        dateFormat: 'yy-mm-dd',
        numberOfMonths: 2,
        onClose: function(selectedDate) {
            var minDate = new Date(selectedDate);
            minDate.setDate(minDate.getDate() + 1);
            jQuery('input#endDate').datepicker('option', 'minDate', minDate);
        }
    });
    jQuery('input#endDate').datepicker({
        dateFormat: 'yy-mm-dd',
        numberOfMonths: 2,
        onClose: function(selectedDate) {
            var maxDate = new Date(selectedDate);
            jQuery('input#startDate').datepicker('option', 'maxDate', maxDate);
        }
    });
});
</script>
{% endblock %}


{% block main %}
<!-- This is where it starts -->
{% editable page.lcopage.content %}
{{ page.lcopage.content|richtext_filters|safe }}
{% endeditable %}
<!-- this is where is ends -->
{% endblock %}

{% block right_panel %}
{% endblock %}
