{% extends 'base.html' %}
{% load mezzanine_tags keyword_tags blog_tags block_tags %}

{% block fullcontent %}

<div class="container">
  <div class="row">
    {% nevercache %}
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}
  </div>
</div>
<div class="jumbotron general-header">
  <div class="container">
    <h1>
      {% editable page.lcopage.title %}
      {{ page.lcopage.title|richtext_filters|safe }}
      {% endeditable %}
    </h1>
  </div>
</div>

{% editable page.lcopage.content %}
{{ page.lcopage.content|richtext_filters|safe }}
{% endeditable %}
{% endblock %}
