{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block left_wrapper%}
{% endblock %}

{% block main_span_size %}sixcol lastcol{% endblock %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}

<div id="portfoliowrap">
        <div class="portfolio-centered">
            <div class="gallery row">
            	<ul class="polaroids">
			    {% with page.gallery.images.all as images %}
				{% for image in images %}
				<li class="polaroid"> 
				    <a class="thumbnail" rel="#image-1" title="{{image.description}}" href="{{ MEDIA_URL }}{% thumbnail image.file 600 450 %}">
				        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 124 124 %}">
				    <div class="image-desciption">{{image.description}}</div>
				    </a>
				</li>
               {% endfor %}
			   {% endwith %}
			   </ul>
			</div>
		</div>
</div>	


{% endblock %}

{% block right_panel %}
{% endblock %}

