{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block left_wrapper%}
{% endblock %}

{% block main %}

    {% editable page.gallery.content %}
    {{ page.gallery.content|richtext_filters|safe }}
    {% endeditable %}

      <div class="row gallery">
        {% with page.gallery.images.all as images %}
  				{% for image in images %}
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="#image-1" title="{{image.description}}" href="{{ MEDIA_URL }}{% thumbnail image.file 600 450 %}">
              <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 400 300 %}">
              </a>
          </div>
          {% endfor %}
  			{% endwith %}
      </div>
{%endblock%}

{% block right_panel %}{% endblock %}
