{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles keyword_tags blog_tags block_tags %}

{% block navbarstyle %}navbar-fixed-top{% endblock%}

{% block fullcontent %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
          <div class="intro-heading">Las Cumbres Observatory</div>
            <div class="intro-lead-in">Global Telescope Network</div>
            <a href="/about/" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section >
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">What are you looking for?</h2>
          </div>
      </div>
        <div class="row  text-center">
          <div class="col-md-4 col-sm-6">
              <a href="/public/" class="icon">
                <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="lco-icon fa-stack-1x icon-0m4 fa-inverse"></i>
                </span>
              </a>
                <h2><a href="/public/">Public</a></h2>
                <p class="text-muted">Member of the public, educator, or student?</p>
              </a>
          </div>

          <div class="col-md-4 col-sm-6">
              <a href="/astronomers/" class="icon">
                <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="lco-icon fa-stack-1x icon-1m0 fa-inverse"></i>
                </span>
              </a>
                <h2><a href="/astronomers/" >Astronomers</a></h2>
                <p class="text-muted">Professional astronomer?</p>
              </a>
          </div>

          <div class="col-md-4 col-sm-6">
              <a href="https://lcogt.net/observe/" class="icon">
                <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="lco-icon icon-2m0 fa-stack-1x fa-inverse"></i>
                </span>
              </a>
                <h2><href="https://lcogt.net/observe/">Observing Portal</a></h2>
                <p class="text-muted">Make observations and submit proposals</p>
              </a>
          </div>
        </div>
    </div>
</section>

<section id="about"  class="bg-light-gray">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Who are we?</h2>
        <hr class="fancy" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-muted">
          Las Cumbres Observatory Global Telescope network (LCOGT) is a group of scientists and engineers  who have created and operate a unique global network of telescopes that functions as a single globe-spanning scientific instrument.</p>
    </div>
    <div class="col-md-6">
      <p class="text-muted">
      With internet access, anyone in the world, at anytime, is able to make discoveries using the LCOGT global telescope network.</p>
    </div>
</div>
<div class="col-md-6 text-center">
  <a href="/people/" class="btn btn-xl">Meet The Team</a>
</div>
<div class="col-md-6 text-center">
    <a href="/about/" class="btn btn-xl">Find Out More</a>
</div>
</div>
</section>
{% endblock%}

{% block specialfooter %}
            <div class="col-md-8  news-links">
              <h2><a href="{% url 'mezzanine.blog.views.blog_post_list' %}">News &amp; Press Releases</a></h2>
              {% blog_recent_posts 5 as recent_posts %}
              {% if recent_posts %}
              <ul class="newslist">
              {% for recent_post in recent_posts %}
              <li>
                <span class="blog-date">{{ recent_post.publish_date|date:"d M" }}</span><span class="blog-title-sm"><a href="{{ recent_post.get_absolute_url }}"> {{ recent_post.title }}</a></span>
              </li>
              {% endfor %}
              </ul>
              {% endif %}
{% endblock%}
