{% extends "pages/page.html" %}

{% load mezzanine_tags block_tags %}
{% block left_wrapper %}
{% endblock %}
<div class="col-md-{% block main_width %}12 {% endblock %} middle">

{% block main_span_size %}{% if page.lcopage.extra_info %}fourcol{%else%}sixcol lastcol{%endif%}{% endblock %}

{% block main %}{{ block.super }}

{% editable page.lcopage.content %}
{{ page.lcopage.content|richtext_filters|safe }}
{% endeditable %}

{% endblock %}

{% block right_panel %}
{% if page.lcopage.extra_info %}
{{ block.super }}

	{% editable page.lcopage.extra_info %}
	{{ page.lcopage.extra_info|richtext_filters|safe }}
	{% endeditable %}

	<div class="back-button">
	<a href="/{{page.parent.slug}}">Back to {{page.parent}} &rarr;</a>
	</div>

	{% richflatblock 'observatory.side.block' %}
{% endif%}
{%endblock%}


