{% extends "base.html" %}
{% load mezzanine_tags keyword_tags block_tags lcogt_extras pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block body-class %}{% keywords_for page as keywords %}{{keywords|body_class}} {%endblock%}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
{% endblock %}

{% block right_panel %}
{% keywords_for page as keywords %}
{% if keywords|is_spacebook %}
{% page_menu page "pages/menus/tree.html" %}
<a href="{{page.parent.get_absolute_url}}">Back up to "{{page.parent.title}}"</a>
{% else%}
{% richflatblock "observatory.side.block" %}
{% endif %}
{% endblock %}
