{% extends 'pages/page.html' %}
{% load mezzanine_tags block_tags %}

{% block meta_title %}{%if not current %}Past {%else%}Current {%endif%}{%if science%}Science {%endif%}Staff List{% endblock %}

{% block body-class %}home {%endblock%}

{% block title %}{%if not current %}Past {%else%}Current {%endif%}{%if science%}Science {%endif%}Staff List{% endblock %}

{% block main_span_size %}col-md-12{% endblock %}

{% block main %}
<h2>
{%if not current %}
<a href="{% url 'people' %}" class="flatbluebtn">Back to staff list &rarr;</a>
{% else %}
<a href="{% url 'oldpeople' %}" class="flatbluebtn">View alumni staff list &rarr;</a>
{% endif %}
</h2>

{% for person in people %}
<div class="col-lg-4 col-sm-6 text-center">
  <a href="{% url 'userprofile' person.user.username %}" title="View {{person.user.first_name}}&#039;s profile.">
    <img typeof="foaf:Image" src="{{ MEDIA_URL }}{% thumbnail person.mugshot 180 180%}" alt="{{person.user.first_name}}&#039;s picture" title="{{person.user.first_name}}&#039;s picture" class="img-circle img-responsive img-center" />
  </a>
  <h3>
    <a href="{% url 'userprofile' person.user.username %}">{{person.user.first_name}} {{person.user.last_name}}</a>
  </h3>
  <small>{{person.job_title}}</small>
</div>
{% endfor %}

{% endblock %}

{% block right_panel %}
{%endblock%}
