<!DOCTYPE html>
  <html lang="en">
  {% load pages_tags mezzanine_tags i18n future staticfiles keyword_tags blog_tags block_tags %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="http://lcogt.net/files/favicon.ico" type="image/x-icon" />

      <title>Las Cumbres Observatory Global Telescope Network</title>

      <!-- Bootstrap Core CSS -->
      <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}" type="text/css" />
      <link href='{% static "css/ws-styles.css" %}' rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery - Rest of JS is at the end. This is here so we can use Jquery in pages-->
      <script src="{% static 'js/jquery.js' %}"></script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse {% block navbarstyle %}navbar-static-top{% endblock%}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'img/logogray_lg.png'%}" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% block navbar %}
          <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              <li>
                  <a class="page-scroll" href="{% url 'about' %}">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="{% url 'public' %}">Public</a>
              </li>
              <li>
                  <a class="page-scroll" href="{% url 'astronomers' %}">Astronomers</a>
              </li>
              <li>
                  <a class="page-scroll" href="http://lcogt.net/observe/">Observing Portal</a>
              </li>
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% block fullcontent %}
    <div class="container">
      <div class="row">
        {% nevercache %}
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}
      </div>
    </div>
    {% block title_banner %}
    <div class="jumbotron {% block header-class %}general-header{% endblock %}">
      <div class="container">
        <h1>
          {% block title %}{% endblock %}
        </h1>
      </div>
    </div>
    {% endblock %}

    <div class="container">
        <div class="row">
          <div class="{% block main_span_size %}col-md-8{% endblock %}">
          {% block main %}{% endblock %}
          </div>

          <div class="col-md-4">
          {% block right_panel %}{% endblock %}
          </div>
        </div>
    </div>
{%endblock%}

{% block alternate %}
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
{% endblock %}


<footer>
    <div class="container">
    <div class="row">
      {% block footer-option %}
      <div class="col-md-4 news-links">
        {% richflatblock "common.block" %}
      </div>
      {% block specialfooter %}
      <div class="col-md-4 news-links">
        {% richflatblock "public.quicklinks" %}
      </div>
      <div class="col-md-4  news-links">
        <h2><a href="{% url 'mezzanine.blog.views.blog_post_list' %}">News &amp; Press Releases</a></h2>
        {% blog_recent_posts 5 as recent_posts %}
        {% if recent_posts %}
        <ul class="newslist">
        {% for recent_post in recent_posts %}
        <li>
          <span class="blog-date">{{ recent_post.publish_date|date:"d M" }}</span><span class="blog-title-sm"><a href="{{ recent_post.get_absolute_url }}"> {{ recent_post.title }}</a></span>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endblock %}
    </div>
    {% endblock %}
    <div class="row">
        <ul class="list-inline social-buttons">
            <li></li>
            <li><a href="http://twitter.com/lcogt"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="http://facebook.com/lcogt"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="/blog/feed"><i class="fa fa-rss"></i></a>
            </li>
        </ul>
    </div>
      <div class="row">
        <span class="copyright">Copyright &copy; {% now "Y" %} Las Cumbres Observatory Global Telescope Network. All rights reserved.
              </span>
      </div>
      <div class="row">
        <img src="{% static 'img/logo.png' %}" />
      </div>
    </div>
</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% compress js %}

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/agency.js' %}"></script>
        <!-- CMS js -->
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script type="text/javascript" src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
        <script type="text/javascript">
          $(document).ready(function() {
              $('.gallery').magnificPopup({
                  delegate: 'a',
                  type: 'image',
                  gallery: {
                      enabled: true,
                  }
              });
          });
          </script>

        {% block extra_js %}{% endblock %}
        {% endcompress %}
        {% editable_loader %}
  </body>
</html>
