#logo img { max-width:100%!important; }
#logo2 { margin-right: 1%; max-width: 30%; }
#logo2 img { max-width: 100%!important; }
.narrow {
	display: inline-block!important;
}
#screen { width: 100%; }
#header {
	width:98%!important;
	margin-left:1%;
	display: block!important;
}
#main {
	width:98%!important;
	margin-left:1%;
	display: block!important;
}
ul#main-menu {
}
ul#main-menu li.onecol { width: 18%; }
ul#main-menu li.twocol { max-width: 28%; }
ul#main-menu input.search { width: 400px; max-width: 70%; }
ul#main-menu form { text-align: center; }
#main ul.menu input.btn, #main ul.menu input.form-submit { position: relative; }
.row {
	min-width: 0px;
}
.twocol {
	width: 50%;
}
.threecol, .fourcol, .fivecol, .sixcol {
	width: 100%;
	display: block;
}
.row table, .row img, .row iframe {
	max-width: 100%!important;
}
#slidecycle { max-width: 100%!important; overflow: hidden; }
body.front .view-features-list { max-width: 100%; width: 98%; }