a.activity-icon {
  color: #f04e23;
}
a.activity-icon:hover {
  color: #fec503;
}

.icon-text {
 color:#fff;
 font-size:50%;
 line-height: 1.2;
 padding-top:15px;
}

.breadcrumbs{

  padding-left: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs>li{
  display: inline-block;
  position: relative;

  padding-right: 28px;
  font-size: 80%;

  color: #ccc;
}

.breadcrumbs>li:after{
  content: "›";
  width: 20px;
  height: 20px;

  line-height: 1;
  text-align: center;

  font-size: 20px;
  color: #aaa;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.breadcrumbs>li{
  color: inherit;
}

.breadcrumbs>li a {
  color:#aaa;
}

.breadcrumbs>li.active {
  color:#ddd;
}

.breadcrumbs>li.active:after{
  display: none;
}
