{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags block_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "News" %}{% endif %}{% endblock %}

{% block title_head %}News{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "News" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block left_wrapper %}
{% endblock %}

{% block main_span_size %}col-md-12{% endblock %}

{% block main %}

{% if tag or category or author %}
    {% block blog_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block blog_post_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for blog_post in blog_posts.object_list %}

{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<div class="row">
  <div class="col-md-4">
    <a href="{{ blog_post.get_absolute_url }}">
      <img class="img-responsive" src="{{ MEDIA_URL }}{{ blog_post.featured_image }}">
    </a>
  </div>
  <div class="col-md-8">
{% endblock %}
{% endif %}
{% block blog_post_list_post_title %}



        <h3 class="blog-post-title"><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
        {% if blog_post.status == 1 %}
        <span class="bg-warning">Draft</span>
        {% endif %}
      </h3>

{% endblock %}


{% block blog_post_list_post_content %}
{{ blog_post.description_from_content|safe }}
{% endblock %}

{% block blog_post_list_post_links %}
<div class="blog-list-detail">
    <p>
    <a href="{{ blog_post.get_absolute_url }}">read more &rarr;</a>
    </p>
</div>
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
</div>
</div>
{% endif %}
{% endblock %}

{% endfor %}

{% pagination_for blog_posts %}
<p>{% trans "Subscribe to our news" %} <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
</p>
{% endblock %}

{% block blog_post_list_post_metainfo %}{% endblock %}
