{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags block_tags blog_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "News" %}{% endif %}{% endblock %}

{% block title_head %}News{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% if category.slug == 'announcement' %}
Announcements
{%else%}
{% trans "News" %}
{% endif %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block left_wrapper %}
{% endblock %}

{% block main_span_size %}col-md-8{% endblock %}

{% block main %}


{% if page %}
{% block blog_post_list_pagecontent %}
{% if page.get_content_model.content %}
    {% editable page.get_content_model.content %}
    {{ page.get_content_model.content|richtext_filters|safe }}
    {% endeditable %}
{% endif %}
{% endblock %}
{% endif %}


{% for blog_post in blog_posts.object_list %}

{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<div class="row row-m-b">
  <div class="col-md-4">
    <a href="{{ blog_post.get_absolute_url }}">
      <img class="img-rounded img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 400 400 %}">
    </a>
  </div>
  <div class="col-md-8">
{% endblock %}
{% endif %}
{% block blog_post_list_post_title %}



        <h3 class="blog-post-title"><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
        {% if blog_post.status == 1 %}
        <span class="bg-warning">Draft</span>
        {% endif %}
      </h3>

{% endblock %}


{% block blog_post_list_post_content %}
{{ blog_post.description_from_content|safe }}
{% endblock %}

{% block blog_post_list_post_links %}
<div class="blog-list-detail">
    <p>
    <a href="{{ blog_post.get_absolute_url }}">read more &rarr;</a>
    </p>
</div>
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
</div>
</div>
{% endif %}
{% endblock %}

{% endfor %}

{% pagination_for blog_posts %}
<p>{% trans "Subscribe to our news" %} <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
</p>
{% endblock %}

{% block right_panel %}

<div class="col-md-4 linkBar">
  {% if category.slug == 'announcement' %}
  {% blog_recent_posts limit=5 as recent_posts %}
  <h3>Recent News</h3>
  {% else %}
  {% blog_recent_posts limit=5 category="announcement" as recent_posts %}
  <h3>Recent Announcements</h3>
  {% endif %}
  <ul class="newslist">
  {% for recent_post in recent_posts %}
    <li>
      <span class="blog-date">{{ recent_post.publish_date|date:"d M" }}</span><span class="blog-title-sm"><a href="{{ recent_post.get_absolute_url }}"> {{ recent_post.title }}</a></span>
    </li>
  {% endfor %}
  {% if category.slug == 'announcement' %}
  <p><i class="fa fa-newspaper-o"></i> <a href="{% url 'blog_post_list' %}">All News</a></p>
  {% else %}
  <p><i class="fa fa-bullhorn"></i> <a href="{% url 'blog_post_list_category' 'announcement' %}">All Announcements</a></p>
  {% endif %}
  </ul>
</div>
{% endblock %}
