{% extends "base.html" %}
{% load mezzanine_tags keyword_tags blog_tags block_tags %}

{% block meta_title %}For Astronomers{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block body-class %}banner {%endblock%}

{% block navigation %}{% endblock %}

{% block title %}
{% endblock %}

{% block main-wrapper %}

{% editable page.richtextpage.content %}
<div class="science_banner_region">{{ page.richtextpage.content|richtext_filters|safe }}</div>
{% endeditable %}

{% endblock %}

{% block alternate %}
						<div class="row rowlast gray-7-grad">
							<div class="twocol">
								{% richflatblock "common.block" %}

							</div>
							<div class="twocol">
							{% richflatblock "astronomers.quicklinks" %}
							</div>
							<div class="twocol lastcol">
								<h2><a href="">News &amp; Press Releases</a></h2>
								{% blog_recent_posts 5 as recent_posts %}
								{% if recent_posts %}
								<ul class="newslist">
								{% for recent_post in recent_posts %}
								<li>
									<span class="blog-date">{{ recent_post.publish_date|date:"d M" }}</span><span class="blog-title"><a href="{{ recent_post.get_absolute_url }}"> {{ recent_post.title }}</a></span>
								</li>
								{% endfor %}
								</ul>
								{% endif %}	
							</div>
						</div>
{% endblock %}
