{% extends "base.html" %}
{% load mezzanine_tags keyword_tags blog_tags block_tags %}

{% block meta_title %}Las Cumbres Observatory Global Telescope Network{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block body-class %}banner {%endblock%}

{% block navigation %}{% endblock %}

{% block title %}
{% endblock %}

{% block main-wrapper %}

{% editable page.richtextpage.content %}
<div class="home_banner_region">{{ page.richtextpage.content|richtext_filters|safe }}</div>
{% endeditable %}

{% endblock %}

{% block alternate %}
						<div class="row rowlast gray-7-grad">
							<div class="twocol">
								{% richflatblock "common.block" %}

							</div>
							<div class="twocol">
								<h2 class="pane-title"><a href="">News &amp; Press Releases</a></h2>
								{% blog_recent_posts 5 as recent_posts %}
								{% if recent_posts %}
								<ul class="popular-posts">
								{% for recent_post in recent_posts %}
								<li>
									
									{% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
								{% block blog_post_list_post_featured_image %}

								<a href="{{ recent_post.get_absolute_url }}">
								    <img  src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 70 70 %}">
								</a>

								{% endblock %}
								{% endif %}

									<a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>

								    </li>
								{% endfor %}
								</ul>
								{% endif %}	
							</div>
							<div class="twocol lastcol">
							</div>
						</div>
{% endblock %}
