{% extends 'base.html' %}
{% load mezzanine_tags block_tags %}

{% block meta_title %}{%if not active%}Past {%endif%}Staff List{% endblock %} 

{% block body-class %}home {%endblock%}

{% block title %}{%if not active%}Past {%endif%}Staff List{% endblock %}

{% block main_span_size %}fourcol{% endblock %}

{% block main %}

      <ul class="polaroids staff-list">
      {% for person in people %}
	      <li class="polaroid">  
		        <div class="user-picture">
					<a href="{% url 'userprofile' person.user.username %}" title="View {{person.user.first_name}}&#039;s profile."><img typeof="foaf:Image" src="{% thumbnail person.mugshot 180 180%}" alt="{{person.user.first_name}}&#039;s picture" title="{{person.user.first_name}}&#039;s picture" /></a>
				</div>
					<div class="jobtitle">{{person.job_title}}</div>  
		      	<a href="{% url 'userprofile' person.user.username %}">{{person.user.first_name}} {{person.user.last_name}}</a>
	      	</li>
	     {% endfor %}
  	</ul>

{% endblock %}

{% block right_panel %}
{% richflatblock "home.block.features" %}
{%endblock%}