{% extends "pages/page.html" %}

{% load mezzanine_tags block_tags %}
{% block left_wrapper %}
{% endblock %}
<div class="col-md-{% block main_width %}12 {% endblock %} middle">

{% block main_span_size %}fourcol{% endblock %}

{% block main %}{{ block.super }}

{% editable page.seminar.speaker_name %}
<h3>{{ page.seminar.speaker_name|richtext_filters|safe }}</h3>
{% endeditable %}

{% editable page.seminar.abstract %}
{{ page.seminar.abstract|richtext_filters|safe }}
{% endeditable %}

{% endblock %}

{% block right_panel %}

	{% editable page.seminar.speaker_biog %}
	{{ page.seminar.speaker_biog|richtext_filters|safe }}
	{% endeditable %}

	<div class="back-button">
	<a href="/{{page.parent.slug}}">Back to {{page.parent}} &rarr;</a>
	</div>

{%endblock%}


