{% load blog_tags keyword_tags i18n future mezzanine_tags%}

{% block blog_months %}
{% blog_months as months %}
{% if months %}
<div class="spacing"></div>
<h4>{% trans "News Archive" %}</h4>
<div class="hline"></div>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
    {% endifchanged %}
    <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
<div class="spacing"></div>
{% block blog_categories %}
{% endblock %}

{% block blog_keywords %}
{% endblock %}

{% block blog_authors %}
{% endblock %}

{% block blog_feeds %}
<h3>{% trans "Subscribe" %}</h3>
    <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
{% endblock %}
